@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Roboto, 'Noto Sans JP', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {

  color: #776B5D;
  background-color: #EBE3D5;
}