.portfolio-container {
  margin: 8rem 0;
  position: relative;
}

.portfolio-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.portfolio-item {
  background: #EBE3D5;
  border-radius: 0.65rem;
  border: 1.5px solid #776B5D;
  padding: 1.5rem;
  margin: 0 1rem;
}

.portfolio-item h6 {
  font-size: 1.05rem;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

.portfolio-item ul li {
  list-style: none;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  position: relative;
}

@media (max-width: 768px) {
  .portfolio-item {
    margin: 0;
  }

  .portfolio-item h6 {
    font-size: 0.95rem;
  }

  .portfolio-item ul li {
    font-size: 0.75rem;
  }

  .portfolio-container {
    margin: 4rem 0;
  }

  .portfolio-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
}