.experience-container {
  margin: 8rem 0;
  position: relative;
}

.experience-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .experience-container {
    margin: 4rem 0;
  }

  .experience-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
}
